/* thead,
tfoot {
  background-color: #333;
  color: #fff;*/

h1 {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  letter-spacing: 3px;
  line-height: 30px;
}

hr {
  /* border-style:dotted none none;  */
  border-color: #F9F9F9;
  /* border-width: 1.5px; */
  height: 0px;
  width: 30%;
  /* line-height:10px; */
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 0.7rem;
  letter-spacing: 3px
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  letter-spacing: 3.5px
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 0.7rem;
  letter-spacing: 2px
}

h5 {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  letter-spacing: 3px;
  line-height: 30px;
  font-style: white;
}

h6 {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  letter-spacing: 3px;
  line-height: 30px;
  font-style: white;
}


h7 {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
   font-size: 0.84rem;
   letter-spacing:2px;
  line-height:18px;
  /* font-style: white; */
}





.red {
  /* margin: 0 0 auto; */
  /* margin: white; */
  border-radius: 0px 0px 100px 0px;
  background-color: #E3C770;
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
  border: solid 6px #F9F9F9;
}

.blue {
  /* border-radius: 100px 0px; */
  border-radius: 50px 0px 100px 0px;
  background-color: #00092C;
  height: 820px;
  width: 300px;
  position: absolute;
  top: 150px;
  left: 35px;
  /* padding: 20px; */
}

.TextA4 {
  /* border-radius: 100px 0px; */
  /* border-radius: 50px 0px 100px 0px; */
  background-color: #F9F9F9;
  height: 950px;
  width: 400px;
  position: absolute;
  top: 35px;
  left: 360px;
  /* padding: 20px; */
}

.blue2 {
  position: absolute;
  top: 180px;
  left: 35px;
  color: white;
}

.A4 {
  height: 1000px;
  width: 800px;
  background-color: #F9F9F9;
  position: absolute;
  /* top: 20px; */
  left: 20%;
}

.profile {
  border-radius: 80px 0px 80px 0px;
  border: solid 6px #F9F9F9;
  height: 255px;
  position: absolute;
  top: 50px;
  left: 64px;
}
